<app-card>
  <div id="container-button">
    <button *ngIf="roleId" color="primary" mat-button [routerLink]="'user'"><mat-icon>groups</mat-icon></button>
    <button color="primary" mat-button (click)="addTask()"><mat-icon>add_task</mat-icon></button>
    <button *ngIf="roleId" color="primary" mat-button (click)="removeProject()"><mat-icon>delete_forever</mat-icon></button>
  </div>


  <div class="container-task">
    <div class="status-flow-container">
      <h2>Por hacer</h2>
      <div
        id="toDo"
        cdkDropList
        #toDoList="cdkDropList"
        [cdkDropListData]="toDo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of toDo; track item) {
          <div class="task-card" (click)="detail(item.id)" cdkDrag>
            <div class="task-card-placeholder" *cdkDragPlaceholder></div>
            <div class="task-card-body">
              <h3>{{item.name}}</h3>
              <h5>{{item.description}}</h5>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="status-flow-container">
      <h2>En Progreso</h2>
      <div
        id="inProgress"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[toDoList, doneList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of inProgress; track item) {
          <div class="task-card" (click)="detail(item.id)" cdkDrag>
            <div class="task-card-placeholder" *cdkDragPlaceholder></div>
            <div class="task-card-body">
              <h3>{{item.name}}</h3>
              <h5>{{item.description}}</h5>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="status-flow-container">
      <h2>Finalizada</h2>
      <div
        id="done"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[toDoList, inProgressList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
          <div class="task-card" (click)="detail(item.id)" cdkDrag>
            <div class="task-card-placeholder" *cdkDragPlaceholder></div>
            <div class="task-card-body">
              <h3>{{item.name}}</h3>
              <h5>{{item.description}}</h5>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

</app-card>
