<mat-dialog-content>
  <div id="container-button">
    <button mat-mini-fab color="accent" (click)="remove()"><mat-icon>delete_forever</mat-icon></button>
  </div>
  <div>
    <app-form [fieldsDataValue]="fieldsValue()" [fieldsData]="fields()" (onSubmitParent)="onSubmit($event)"/>
    <ng-container *ngIf="fieldsComments()">
      <h4>Comentarios:</h4>
      <div *ngFor="let comment of fieldsComments()">
        <h6>
          {{comment.userId}}
          <button color="primary" mat-icon-button aria-label="Delete" (click)="deleteItem(comment.id)" ><mat-icon>delete_forever</mat-icon></button>
        </h6>
        <app-comment [disabledC]="true" [itemValue]="comment" [urlRequest]="urlComment.urlGet+'/'+this.id"></app-comment>
      </div>
      <br><br>
      <app-comment [urlRequest]="urlComment.urlGet+'/'+this.id"></app-comment>
    </ng-container>
  </div>
  <mat-dialog-actions>
    <button color="primary" (click)="sendSubmit()" mat-button>Guardar</button>
    <button color="warn" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
